@import url(page-home.css);
@import url(page-404.css);
@import url(page-servers.css);
@import url(page-server-info.css);

.content-container {
  box-sizing: border-box;
  min-height: calc(100vh - 84px);
  padding: 10px;
  background: #3F3A0A;
  border: 2px solid #2A2812;
}

.flex {
  display: flex;
}