/* Тут собраны хаки для IE */
@media screen and (min-width:0\0) {  
  .page-home {
    display: block;
    text-align: center;
  }

  .page-home p {
    margin-left: auto;
    margin-right: auto;
  }
}