/**** Таблица серверов ****/

.table-wrapper {
  box-sizing: border-box;
  width: calc(100% - 240px);
}

.servers {
  width: 100%;
}

.servers td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.servers a {
  font-size: 14px;
}

.servers td:nth-of-type(1),
.servers th:nth-of-type(1) {
  width: 70%;
}

.servers td:nth-of-type(2),
.servers th:nth-of-type(2) {
  width: 30%;
}

.servers td:nth-of-type(3),
.servers th:nth-of-type(3) {
  width: 60px;
}

.servers td:nth-of-type(4),
.servers th:nth-of-type(4) {
  width: 170px;
  text-align: right;
}

.servers tr:first-of-type td {
  padding-top: 10px;
}

td:nth-of-type(2n + 1) {
  color: #bbb;
}

.servers tr:hover .name a {
  text-shadow: 0 0 25px rgb(0, 204, 255);
}