.page-server-info {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  color: #bbb;
  flex-wrap: wrap;
}

.players-header th {
  width: 33.3%;
}

.bots-header th {
  width: 50%;
}

.page-server-info .info,
.page-server-info .players {
  flex: 1 1 auto;
}

#gallery {
  transition: .5s;
  position: relative;
  max-width: 720px;
  overflow: hidden;
  height: 400px;
  background: url(../images/gallery/offline.png) no-repeat center / cover content-box rgba(0, 0, 0, .4);
} 

#gallery + table > caption {
  border-radius: 0 0 5px 5px;
}

#gallery .arrow {
  display: flex;
  align-items: center;
  transition: .5s;
  width: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
}

#gallery:hover .arrow {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, .7);
}

#gallery:hover .arrow-left {
  height: 30px;
  width: 100px;
  transform: rotate(90deg);
  background: url(../images/menu-arrow.svg) no-repeat center center / 100% 100%;
}

#gallery:hover .arrow-right {
  height: 30px;
  width: 100px;
  transform: rotate(-90deg);
  background: url(../images/menu-arrow.svg) no-repeat center center / 100% 100%;
}

#gallery .arrow.next:hover,
#gallery .arrow.prev:hover {
  cursor: pointer;
}

#gallery .next {
  right: 0;
}

#gallery .prev {
  left: 0;
}

.page-server-info .players {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 10px;
}

.server-info {
  margin-bottom: 10px;
}

.page-server-info .players th,
.page-server-info .players td {
  text-align: center;
}

.header, 
#info-map {
  padding: 5px;
  background: rgba(0, 0, 0, .5);
  border-radius: 5px 5px 0 0;
  color: rgb(234, 190, 140);
  font-size: 18px;
}

#info-map {
  text-align: center;
}

#info-name,
#info-address,
#info-online,
#info-status,
#info-last-update,
#info-password {
  color: #ddd;
}

.info {
  display: flex;
  flex-direction: column;
}

.bots {
  margin-top: 20px;
}