.page-server-info {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  color: #bbb;
  flex-wrap: wrap;
}

.players-header th {
  width: 33.3%;
}

.bots-header th {
  width: 50%;
}

.page-server-info .info,
.page-server-info .players {
  flex: 1 1 auto;
}

#gallery {
  height: 200px;
  margin-bottom: 15px;
  background: url(../images/test-map-image.jpg) no-repeat center / cover;
} 

.page-server-info .players {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 10px;
}

.server-info {
  margin-bottom: 10px;
}

.page-server-info .players th,
.page-server-info .players td {
  text-align: center;
}

.header, 
#info-map { /* From table caption */
  padding: 5px;
  background: rgba(0, 0, 0, .5);
  border-radius: 5px;
  color: rgb(234, 190, 140);
  font-size: 18px;
}

#info-map {
  text-align: center;
}

#info-name,
#info-address,
#info-online,
#info-status,
#info-last-update,
#info-password {
  color: #ddd;
}

.info {
  display: flex;
  flex-direction: column;
}

.bots {
  margin-top: 20px;
}